<h2><%= bulletin_name params[:bulletin_id] %></h2>
<div class="row">
  <div class='col-md-12'>
    <p style='text-align:right;'>
      created by <%= current_user.email %>, <%= time_ago_in_words(@post.created_at) %> ago
    </p>
  </div>
</div>
<%= render 'form' %>

<hr>
<%= link_to 'Show', [@post.bulletin, @post], class: 'btn btn-default' %>
<%= link_to 'Back', bulletin_posts_path, class: 'btn btn-default' %>
