<<<<<<< HEAD
<h2><%= bulletin_name params[:bulletin_id] %></h2>
<div class="row">
  <div class='col-md-12'>
    <p style='text-align:right;'>
      created by <%= current_user.email %>, Current Time : <%= Time.now %>
    </p>
  </div>
</div>
<%= render 'form' %>

<hr>
=======
<h2><%= bulletin_name params[:bulletin_id] %></h2>
<div class="row">
  <div class='col-md-12'>
    <p style='text-align:right;'>
      created by <%= current_user.email %>, Current Time : <%= Time.now %>
    </p>
  </div>
</div>
<%= render 'form' %>

<hr>
>>>>>>> 5503e78d7ccd49e8b4928ef8ec3b43e0a312f26a
<%= link_to 'Back', bulletin_posts_path, class: 'btn btn-default' %>