<!DOCTYPE html>
<html>
<head>
  <title>Auth Test</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= favicon_link_tag '/apple-icon-57x57.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag '/apple-icon-60x60.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag '/apple-icon-72x72.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag '/apple-icon-76x76.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag '/apple-icon-114x114.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag '/apple-icon-120x120.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag '/apple-icon-144x144.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag '/apple-icon-152x152.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag '/apple-icon-180x180.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag '/android-icon-192x192.png', rel: 'icon', type: 'image/png' %>
  <%= favicon_link_tag '/favicon-32x32.png', rel: 'icon', type: 'image/png' %>
  <%= favicon_link_tag '/favicon-96x96.png', rel: 'icon', type: 'image/png' %>
  <%= favicon_link_tag '/favicon-16x16.png', rel: 'icon', type: 'image/png' %>
  <%= favicon_link_tag '/manifest.json', rel: 'manifest' %>
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <%= csrf_meta_tags %>
</head>
<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to raw("Auth<i>Test</i>"), root_path, class:'navbar-brand' %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="<%= params[:bulletin_id] == '1' ? 'active' : '' %>"><%= link_to '공지사항', bulletin_posts_path('1') %></li>
            <li class="<%= params[:bulletin_id] == '2' ? 'active' : '' %>"><%= link_to '새소식', bulletin_posts_path('2') %></li>
            <li class="<%= params[:bulletin_id] == '3' ? 'active' : '' %>"><%= link_to '가입인사', bulletin_posts_path('3') %></li>
            <li class="<%= params[:bulletin_id] == '4' ? 'active' : '' %>"><%= link_to '게임', bulletin_posts_path(4) %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "My Profile", edit_user_registration_path %></li>
                    <% if current_user.is_admin == true %>
                      <li><%= link_to "Roles : admin", '#'%></li>
                    <% else %>
                      <li><%= link_to "Roles : user", '#'%></li>
                    <% end %>
                    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></li>
                  </ul>
                </li>
            <% else %>
                <li><%= link_to "Sign in", new_user_session_path %></li>
                <li><%= link_to "Sign up", new_user_registration_path %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <%= render partial: 'shared/flash_messages', flash: flash %>

      <%= content_for?(:post_layout) ? content_for(:post_layout) : yield %>

    </div> <!-- /container -->
</body>
</html>
